* {
	margin: 0.2%;
}

body {
	background-color: #dedede;
}

#main {
	width: 90%;
	background-color: #94cd84;
	margin: auto;
	padding: 1.5%;
	border-radius: 20px;
}

#texthere {
	text-align: center;
	font-size: 200.69%;
	font-family: Calibri;
	margin-bottom: 3%;
}

#form1 {
	background-color: #bdeab0;
	float: right;
	width: 50.69%;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	border-radius: 10px;
	padding: 0.969%;
	margin-right: 1%;
}

#form_search {
	background-color:#abd79e;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	border-radius: 10px;
	margin-top: 2%;
	margin-left: 2%;
	margin-bottom: 1.69%;
}

#list {
	clear: both;
}

#span1 {
	margin-left: 25.7%;
}

#span2 {
	margin-left: 18.4%;
}

#list {
	margin: auto;
	width: 50%;
	padding: 1%;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	border-radius: 10px;
	background-color: #bdeab0;
}

.input {
	border-radius: 5.69px;
}